<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D&D Character Generator</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.3.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <h1>Dungeons & Dragons Character Generator</h1>
    <div id="characterForm">
        <select id="classSelect" style="width: 50%;">
            <option></option> <!-- for allowing clear -->
            {% for class in base_classes %}
            <option value="{{ class['name'] }}">{{ class['name'] }}</option>
            {% endfor %}
        </select>
        <select id="prestigeSelect" style="width: 50%;">
            <option></option> <!-- for allowing clear -->
            {% for prestige in prestige_classes %}
            <option value="{{ prestige['name'] }}">{{ prestige['name'] }}</option>
            {% endfor %}
        </select>
        <select id="multiClassSelect" style="width: 50%;">
            <option></option> <!-- for allowing clear -->
            {% for class in base_classes %}
            <option value="{{ class['name'] }}">{{ class['name'] }}</option>
            {% endfor %}
        </select>
        <button onclick="generateCharacter()">Generate Character</button>
    </div>
    <div id="characterOutput"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.3.0/dist/js/select2.min.js"></script>
    <script src="/static/js/script.js"></script>
    <script>
    $(document).ready(function() {
        $('#classSelect, #prestigeSelect, #multiClassSelect').select2({
            placeholder: "Select an option",
            allowClear: true
        });
    });
    </script>
</body>
</html>
